<%= stylesheet_link_tag "desktop/web/static_pages", :media => "all" %>

<div id="jojima-top">
  <section>
    <div class="Intro">
    <div class="Intro__main">
          <div class="Intro__main--logo"><%= image_tag '//res.cloudinary.com/dmfclza05/image/upload/v1498882875/top/logo.png',size:"140x70", alt: "logo image of sakeviva" %></div>
     <div class="Intro__sub">
       <div class="Category"></div>
          <ul class="Category__menu">
            <li class="Category__item">
                  <div class ="Category__picture"><%= link_to image_tag('//res.cloudinary.com/dmfclza05/image/upload/v1506153161/top/category_sake.jpg', height: 145, width: 159, alt: "酒の写真"),category_sake_path %></div>
              <p class="Category__title"><%= link_to "日本酒", category_sake_path %></p>
              <div class="Category__subtitle"><%= link_to "城島町の日本酒", category_sake_path %></div>
            </li>
            <li class="Category__item">
                  <div class ="Category__picture"><%= link_to image_tag('//res.cloudinary.com/dmfclza05/image/upload/v1498882876/top/category_grocery.jpg', height: 145, width: 159, alt: "雑貨の写真"),category_grocery_path %></div>
              <p class="Category__title"><%= link_to "雑貨", category_grocery_path %></p>
              <div class="Category__subtitle"><%= link_to "城島町の雑貨", category_grocery_path %></div>
            </li>
            <li class="Category__item">
                  <div class ="Category__picture"><%= link_to image_tag('//res.cloudinary.com/dmfclza05/image/upload/v1498882878/top/category_food.jpg', height: 145, width: 159, alt: "特産品の写真"),category_food_path %></div>
              <p class="Category__title"><%= link_to "食", category_food_path %></p>
              <div class="Category__subtitle"><%= link_to "城島町の食", category_food_path %></div>
            </li>
            <li class="Category__item">
                  <div class ="Category__picture"><%= link_to image_tag('//res.cloudinary.com/dmfclza05/image/upload/v1506153157/top/category_craft.jpg', height: 145, width: 159, alt: "工芸品の写真"),category_craft_path %></div>
              <p class="Category__title"><%= link_to "工芸品", category_craft_path %></p>
              <div class="Category__subtitle"><%= link_to "工芸品", category_craft_path %></div>
            </li>
          </ul>
       </div>
     </div>
    </div>
    <p class="Intro__news">現在、新しいお知らせはありません。</p>
    </div>
  </div>

  <section>
    <div class="NewArrival">
      <h2 class="NewArrival__head">新入荷</h2>
      <p class="NewArrival__text">日本酒は旬の飲み物。季節に合った日本酒をご紹介します。</p>
     <ul class="NewArrival__main">

       <li class="NewArrival__item">
          <div class="NewArrival__item--photo">
          <%= link_to image_tag(Product.find(31).image.url, height: 280, width: 210, alt: "商品写真"),product_path(31) %></div>
          <div class="NewArrival__item--title"><%= link_to Product.find(31).name, product_path(31) %></div>
          <div class="NewArrival__item--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </li>

       <li class="NewArrival__item">
          <div class="NewArrival__item--photo">
          <%= link_to image_tag(Product.find(32).image.url, height: 280, width: 210, alt: "商品写真"),product_path(31) %></div>
          <div class="NewArrival__item--title"><%= link_to Product.find(32).name, product_path(32) %></div>
          <div class="NewArrival__item--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </li>

       <li class="NewArrival__item">
          <div class="NewArrival__item--photo">
          <%= link_to image_tag(Product.find(33).image.url, height: 280, width: 210, alt: "商品写真"),product_path(31) %></div>
          <div class="NewArrival__item--title"><%= link_to Product.find(33).name, product_path(33) %></div>
          <div class="NewArrival__item--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </li>

       <li class="NewArrival__item">
          <div class="NewArrival__item--photo">
          <%= link_to image_tag(Product.find(34).image.url, height: 280, width: 210, alt: "商品写真"),product_path(31) %></div>
          <div class="NewArrival__item--title"><%= link_to Product.find(34).name, product_path(34) %></div>
          <div class="NewArrival__item--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </li>

     </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="Ranking">
  <h2 class="Ranking__head">人気ランキング</h2>
      <p class="Ranking__text">テキストが入ります。テキストが入ります。</p>

    <ul class="Ranking__all">
     <li class="Ranking__item">
        <div class="Ranking__sub">
         <img class="Ranking__sub--photo"><%= link_to image_tag(Product.find(31).image.url, height: 80, width: 68, alt: "商品写真"), product_path(31) %>
         </img>
       </div>
       <div class="Ranking__main">
         <div class="Ranking__main--title"><%= link_to Product.find(31).name, product_path(31) %>。</div>
         <div class="Ranking__main--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </div>
     </li>

     <li class="Ranking__item">
        <div class="Ranking__sub">
         <img class="Ranking__main--photo"><%= link_to image_tag(Product.find(31).image.url, height: 80, width: 68, alt: "商品写真"), product_path(31) %>
         </img>
       </div>
       <div class="Ranking__main">
         <div class="Ranking__main--title"><%= link_to Product.find(31).name, product_path(31) %></div>
         <div class="Ranking__main--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </div>
     </li>

     <li class="Ranking__item">
        <div class="Ranking__sub">
         <img class="Ranking__main--photo"><%= link_to image_tag(Product.find(31).image.url, height: 80, width: 68, alt: "商品写真"), product_path(31) %>
         </img>
       </div>
       <div class="Ranking__main">
         <div class="Ranking__main--title"><%= link_to Product.find(31).name, product_path(31) %>。</div>
         <div class="Ranking__main--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </div>
     </li>

     <li class="Ranking__item">
        <div class="Ranking__sub">
         <img class="Ranking__sub--photo"><%= link_to image_tag(Product.find(31).image.url, height: 80, width: 68, alt: "商品写真"), product_path(31) %>
         </img>
       </div>
       <div class="Ranking__main">
         <div class="Ranking__main--title"><%= link_to Product.find(31).name, product_path(31) %>。</div>
         <div class="Ranking__main--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </div>
     </li>

     <li class="Ranking__item">
        <div class="Ranking__sub">
         <img class="Ranking__main--photo"><%= link_to image_tag(Product.find(31).image.url, height: 80, width: 68, alt: "商品写真"), product_path(31) %>
         </img>
       </div>
       <div class="Ranking__main">
         <div class="Ranking__main--title"><%= link_to Product.find(31).name, product_path(31) %>。</div>
         <div class="Ranking__main--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </div>
     </li>

     <li class="Ranking__item">
        <div class="Ranking__sub">
         <img class="Ranking__main--photo"><%= link_to image_tag(Product.find(31).image.url, height: 80, width: 68, alt: "商品写真"), product_path(31) %>
         </img>
       </div>
       <div class="Ranking__main">
         <div class="Ranking__main--title"><%= link_to Product.find(31).name, product_path(31) %>。</div>
         <div class="Ranking__main--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </div>
     </li>


     <li class="Ranking__item">
        <div class="Ranking__sub">
         <img class="Ranking__sub--photo"><%= link_to image_tag(Product.find(31).image.url, height: 80, width: 68, alt: "商品写真"), product_path(31) %>
         </img>
       </div>
       <div class="Ranking__main">
         <div class="Ranking__main--title"><%= link_to Product.find(31).name, product_path(31) %>。</div>
         <div class="Ranking__main--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </div>
     </li>

     <li class="Ranking__item">
        <div class="Ranking__sub">
         <img class="Ranking__main--photo"><%= link_to image_tag(Product.find(31).image.url, height: 80, width: 68, alt: "商品写真"), product_path(31) %>
         </img>
       </div>
       <div class="Ranking__main">
         <div class="Ranking__main--title"><%= link_to Product.find(31).name, product_path(31) %>。</div>
         <div class="Ranking__main--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </div>
     </li>

     <li class="Ranking__item">
        <div class="Ranking__sub">
         <img class="Ranking__main--photo"><%= link_to image_tag(Product.find(31).image.url, height: 80, width: 68, alt: "商品写真"), product_path(31) %>
         </img>
       </div>
       <div class="Ranking__main">
         <div class="Ranking__main--title"><%= link_to Product.find(31).name, product_path(31) %>。</div>
         <div class="Ranking__main--price"><%= number_to_currency(Product.find(31).options.first.value) %></div>
       </div>
     </li>
    </ul>
    </div>
  </section>

  <section>
    <div class="JojimaMap"><%= link_to image_tag('//res.cloudinary.com/dmfclza05/image/upload/v1506153077/top/aboutjojima.jpg', height: 200, alt:"城島町についての写真"), about_us_path %></div>
  </section>


  <section>
    <div class="Interview">
      <h3 class="Interview__head">生産者インタビュー</h2>
      <p class="Interview__text">テキストが入ります。テキストが入ります。</p>

      <div class="Interview__section">

        <div class="Interview__item">
          <div class="Interview__sub">
            <img class="Interview__sub--photo"><%= link_to (image_tag "//res.cloudinary.com/dmfclza05/image/upload/v1501265113/interview_tanaka_noodle/tanaka_noodle_top.jpg", height: 240 , width: 200, alt:'インタビュアーの写真'),interview_tanaka_noodle_path %></img>
          </div>
          <div class="Interview__main">
            <div class="Interview__main--id">#01</div>
            <div class="Interview__main--companyname">田中製麺</div>
            <div class="Interview__main--name">田中稔和</div>

            <div class="Interview__main--btn"><%= link_to 'インタビューを読む', interview_tanaka_noodle_path %></div>
          </div>
        </div>

        <div class="Interview__item">
          <div class="Interview__sub">
            <img class="Interview__sub--photo"><%= link_to (image_tag "//res.cloudinary.com/dmfclza05/image/upload/v1498839896/interview_souen_rush/shimosaka_pic_ww8jyd.png"), interview_souen_rush_path, height: 240 , width: 200, alt:'インタビュアーの写真'%></img>
          </div>
          <div class="Interview__main">
            <div class="Interview__main--id">#02</div>
            <div class="Interview__main--companyname">創筵</div>
            <div class="Interview__main--name">下坂美佳</div>
            <div class="Interview__main--btn"><%= link_to 'インタビューを読む', interview_souen_rush_path %></div>
          </div>
        </div>

        <div class="Interview__item">
          <div class="Interview__sub">
            <img class="Interview__sub--photo"><%= link_to (image_tag "//res.cloudinary.com/dmfclza05/image/upload/v1506153292/top/top.jpg"), interview_chiyo_seaweed_path, height: 240 , width: 200, alt:'インタビュアーの写真' %></img>
          </div>
          <div class="Interview__main">
            <div class="Interview__main--id">#03</div>
            <div class="Interview__main--companyname">千代海苔</div>
            <div class="Interview__main--name">千代島賢</div>
            <div class="Interview__main--btn"><%= link_to 'インタビューを読む', interview_chiyo_seaweed_path %></div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
