<%= stylesheet_link_tag "desktop/web/static_pages", :media => "all" %>

<section>
	<div class="InterviewPanel">
		<h1>〜田中製麺〜</h1>
		<div class="InterviewPanel__photo">
		<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840184/interview_tanaka_noodle/interview_tanaka_noodle_1_vnqkru.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
		<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840184/interview_tanaka_noodle/interview_tanaka_noodle_1_vnqkru.jpg", :class => "sp", alt:"インタビューの写真") %>
		</div>
			<p>麺をつくり続けて66年。城島町には多くの人々から愛され続ける製麺会社があります。日本で初めて麺づくりにクーラーを取り入れた「低温熟成乾燥製法」を確立し、2015年には「田中の麺家」をオープンさせた田中製麺です。</p>
			<p>のれんをくぐれば、立ち昇る湯気の向こうから聞こえる気持ちのいい「いらっしゃいませ」の声、そして晴れ晴れとした笑顔。美味しいのはもちろんのこと、これほ	ど地域の方々から愛されるうどん屋は他にないんじゃないでしょうか。</p><p>このインタビューでは、その美味しさの秘訣、そして愛され続ける秘訣について聞いてきました。どうぞあなたも田中製麺のファンになってください。</p>
			<h2>「４つのこだわりが美味しい麺をつくっている」</h2>
			<p class="InterviewPanel__question">――早速ですが、美味しさの秘訣、愛され続ける秘訣についてお伺いしたいと思います。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840183/interview_tanaka_noodle/interview_tanaka_noodle_2_xhbhrm.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
				<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840183/interview_tanaka_noodle/interview_tanaka_noodle_2_xhbhrm.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>
			<p><span style="font-weight: bold;">田中</span>　私たち田中製麺では、大きく4つのこだわりを持って麺づくりをおこなっています。『原料』、『製法』、『地域』、そして『魂』、この4つにとことんこだわった麺づくりを心がけています。</p>

			<p class="InterviewPanel__question">――では、順を追って一つ一つ詳しく聞いていきたいと思います。まずは原料について。麺といえば主原料は小麦ですよね。</p>

			<p><span style="font-weight: bold;">田中</span>　そうですね。小麦を使った製品には麺のほかにパンなどもありますが、パンよりも麺の方が原料依存度が高いんですね。つまり、小麦一つに味が大きく左右されるんですよ。特に田中では小麦の中に含まれている澱粉質を重要視しておりまして、この澱粉質が良質な小麦だけを使って麺を作っております。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840190/interview_tanaka_noodle/interview_tanaka_noodle_3_bdie1i.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840190/interview_tanaka_noodle/interview_tanaka_noodle_3_bdie1i.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p class="InterviewPanel__question">――澱粉質が良質だと麺にのような影響がでるんですか？</p>

			<p><span style="font-weight: bold;">田中</span>　まず、良質な澱粉質を使用すると麺がもちもちになるんですね。噛んだときの弾力といいますか、口の中での広がりといいますか、もちもちっとした食感の中になめらかさが生まれますね。そして味ですね。小麦のほのかな甘みがバランスよく麺の中に凝縮されます。田中の麺を一口含んだときに口の中に広がる素材本来の旨みを楽しんでいただければと思っております。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840183/interview_tanaka_noodle/interview_tanaka_noodle_4_f9m59c.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840183/interview_tanaka_noodle/interview_tanaka_noodle_4_f9m59c.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p>また、良質な澱粉質を含んだ小麦を使うと麺の老化を防ぐことにもつながるんですね。田中の麺家で食べていただく方はもちろんですが、袋麺もお店と変わらないくらい美味しくいただけるようになっております。</p>

			<h3>「梅雨明け前後に製造したうどんが偶然おいしかった」</h3>

			<p class="InterviewPanel__question">――二つ目に「製法」に対するこだわりを挙げていらっしゃいますが、田中製麺の麺づくりはほかの製麺業者とどのような違いがあるんでしょうか？</p>

			<p><span style="font-weight: bold;">田中</span>　まずですね、麺づくりというのはその日の環境に大きく左右されるんですよ。気温だったり、湿度だったりですね。なので、その日の環境に合わせてもっとも美味しくなるように、水の量を調整したり、練り上げる時間をいつもより長くしたり、短くしたりしなくてはならないんです。つまり、まず第一に経験がものを言う世界なんですね。</p>

			<p class="InterviewPanel__question">――一朝一夕に美味しい麺は作れないということですね。</p>

			<p><span style="font-weight: bold;">田中</span>　あるとき創業者である田中義眞がこんなことを言ったんです。「麺づくりは誰にでもできる。小麦粉と塩と水を混ぜてつくるだけだから。でも製造者の真心がこもっていなければおいしい麺はできない。麺製造は毎日毎日が真剣勝負だ。特に練り上げで品質の90パーセントが決まるからミキサー時間をないがしろにしてはいけない」と。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840184/interview_tanaka_noodle/interview_tanaka_noodle_5_wqsoyc.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840184/interview_tanaka_noodle/interview_tanaka_noodle_5_wqsoyc.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p>また、製造に対してだけでなく「できあがった麺を毎日食べなさい」とも言われました。「毎日食べて、記録して、自分で修正しなさい。その経験が必ず活きてくるから」と。この言葉を心に刻みながら私たちは麺づくりを行っております。これがこだわりの4つ目『魂』にあたる部分ですね。</p>

			<p class="InterviewPanel__question">――何よりも経験、そして麺に真剣に向き合う心を大事にされてるんですね。</p>

			<p><span style="font-weight: bold;">田中</span>　麺づくりに真剣に向き合い、毎日その変化を楽しむこと、感じることが大事だと思っています。まさに創業者である田中義眞もこの方法で美味しい麺づくりにたどり着いたわけですからね。</p>

			<p class="InterviewPanel__question">――といいますと？</p>

			<p><span style="font-weight: bold;">田中</span>　創業者の田中義眞は日々麺づくりと向き合う中で、たまたま梅雨明け前後に製造したうどんがとても美味しいということに気づいたんですね。そこで「梅雨明け前後の環境と同条件の製造工程を再現すれば美味しい麺ができるんじゃないか」という考えに至り、試行錯誤の中で麺づくりにクーラーを取り入れるということを思いついたんですね。</p>	<p>麺づくりにクーラーを取り入れたのは、実は日本でこれが初めてなんですよ。</p>
			<p>クーラーメーカー様にも大変なご苦労をかけながら、さらに試行錯誤を繰り返しましてね、それでようやく現在も続いてます低温熟成乾燥という製法が生み出されたんですね。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840189/interview_tanaka_noodle/interview_tanaka_noodle_6_jvwgxl.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840189/interview_tanaka_noodle/interview_tanaka_noodle_6_jvwgxl.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p class="InterviewPanel__question">――田中の麺家の麺は本当に美味しいですが、ここに至るまでに大変な苦労があったんですね。低温熟成乾燥製法で作った麺は一般的な製麺方法とどうことなるんですか？</p>

			<p><span style="font-weight: bold;">田中</span>　麵をつくる工程の中に「熟成」といって生地・麺帯を寝かせる工程があります。一定期間放置することによって生地が熟成され品質も良くなるんですね。一般的に機械製麺ですと連続圧延で麺帯を薄くしていくのですが、そうするとロール圧によりグルテンのつながりが損なわれてしまうんですね。しかし、低温熟成乾燥製法では、切刃を通過後麺線になります。麺線状態で熟成させグルテンのつながりを時間かけて再構築することができるんです。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840190/interview_tanaka_noodle/interview_tanaka_noodle_7_ok8lrp.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840190/interview_tanaka_noodle/interview_tanaka_noodle_7_ok8lrp.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p>また麺つくりには塩が重要なファクターになります。塩は小麦粉のグルテンを引き締め、生地の弾力性を、しこしことした食感を生み、生地の乾燥防止にも効果があります。田中の麵には、塩かどのとれたまろやかな五島灘の「いそしお」を使用しています。小麦粉のほのかな甘味と五島灘の塩がバランスよく麺のうまみをひきだしています。</p>

			<h4>「素晴らしい商品ですが、地域の人に愛されていますか？」</h4>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840185/interview_tanaka_noodle/interview_tanaka_noodle_8_ggarsm.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840185/interview_tanaka_noodle/interview_tanaka_noodle_8_ggarsm.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p class="InterviewPanel__question">――50年以上も前からこの地で製麺業を行い、地元城島の名前が入った和風麺ブランド『筑後・城島　えつの里 まぼろしの麺』を発売するなど、地元密着で経営を行われている田中製麺さん。3つめに「地域にこだわる」ということをおっしゃっていましたが、美味しさの秘訣と地元にこだわることは深く関係しているんでしょうか。</p>

			<p><span style="font-weight: bold;">田中</span>　今から35年ほど前のことなんですけどね、ある外食産業のお客様に「田中製麺のつくる麺は本当においしい」と褒めていただいたんですね。でもね「この麺は本当においしくて素晴らしいけれど、地域の方に愛されてますか？認知されていますか？」という質問をいただき、わたしは胸を張って「はい」とは言えなかったんです。</p><p>当時は、まだまだ地域の方々には認知されていなくてね、ご利用していただいているお客様も少なかったんです。そこで私たちは考えました。地域に愛されるってどういうことだろう、おいしいだけでなく愛してもらえる麺ってどんな麺なんだろうって。それで生まれたのが『筑後・城島 えつの里 まぼろしの麺』なんですね。</p><p>それから麺を作ることだけでなく、地域の声を聴くこと、その声を商品づくりに生かしながらさらにおいしい麺を作るということを常に考えています。そのために、地域のイベントやお祭り、それから展示会や物産展などに積極的に参加させていただき、そこで実際に食べてもらうこと、そういった『地域との共生』を大事にしています。</p>

			<p class="InterviewPanel__question">――2015年にオープンされた『田中の麺家』も地域の方に味わってもらいたいという思いが詰まっているわけですね。</p>

			<p><span style="font-weight: bold;">田中</span>　そうですね。実際にお客様の声、ニーズをもとに製造した新商品ブランド『田中の麺家シリーズ』もご好評いただいております。美味しいにプラスして「手軽に調理できる」「国産原料にこだわっている」「機能性がある」「高い品質」そして「からだにいい」「オリジナリティがある」ということにもこだわって、これからもお客様に喜んでもらえる商品を作っていきたいと考えています。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840194/interview_tanaka_noodle/interview_tanaka_noodle_9_d1qivl.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498840194/interview_tanaka_noodle/interview_tanaka_noodle_9_d1qivl.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p class="InterviewPanel__question">――本当に城島町を、城島に住む人を愛されているんですね。城島町のどんなところが好きですか？また城島町のどんなところを知ってほしいですか？</p>

			<p><span style="font-weight: bold;">田中</span>　城島町は筑後川が流れる筑後平野にあり、農産物をはじめ、日本でもここにしか生息していないエツ、そして酒と瓦の町です。自然に恵まれているということ、これが一番の城島の良さですね。それから心が癒されること。わたしは仕事柄東京にも住んでいたんですが、やはりここがほっとできます。ほっこりした人が暮らしていますもんね。わたしも心豊かに暮らしていきたいです。</p>

			<p class="InterviewPanel__question">――では、最後に『あしたの城島』ということで、城島町をどんな町にしたいですか？また、どんな町になって欲しいと考えていますか？</p>

			<p><span style="font-weight: bold;">田中</span>　これから城島町は高齢化と人口減少という問題に直面し、それは避けては通れない課題になると思います。そのときに、地域の方が元気であること、これが一番大事だと思うんです。そのために、人と人とがつながっていて、自然とコミュニケーションが生まれるような関係が保てるような地域になっていて欲しいです。また、わたしも含めてですが仕事以外に楽しみがあるということ。そうなれば城島町は日本一住みやすい地域になると思います。</p>

			<h5>田中製麺</h5>
			<div class="InterviewPanel__photo">
			<%= image_tag("//res.cloudinary.com/dmfclza05/image/upload/v1498840194/interview_tanaka_noodle/interview_tanaka_noodle_10_bdrsfj.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("//res.cloudinary.com/dmfclza05/image/upload/v1498840194/interview_tanaka_noodle/	interview_tanaka_noodle_10_bdrsfj.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p>1948年4月、田中義眞氏により創業。</p><p>原料の知識を深め独自の製法を生み出す。</p>
			<p>1968年、半生ちゃんぽん麺／半生焼きそば麺／蒸し麺（α麺）を独自の製法で開発、製造。</p>
			<p>1972年には、九州でいち早く、びっくりうどん／長崎ちゃんぽん／ざるそば／冷やし中華／博多ラーメンなどの半生商材を中心に商品を展開。これまで乾麺や生めんしかなかった市場に、半生で日持ちのするオリジナルの常温商材を築き上げた。</p>
			<p>家庭用・業務用、地元に密着し原料にこだわった和風麺ブランド「筑後・城島　えつの里　まぼろしの麺」清き流川シリーズを開発。</p>
			<p>2015年7月に「田中の麺屋」をオープン。<br>お客様のニーズに応えていく新しい商品ブランド「田中の麵家シリーズ」をスタートさせ、食べて嬉しく、贈って喜ばれる商品を開発。<br>
			「手軽に簡単調理できておいしい」「国産原料にこだわる」「機能性がある」「高い品質」+「からだによい」「オリジナル性のある商品」と地域の人々含め、多くの人に愛される商品を製造中。
			</p>
	</div>
</section>