<%= stylesheet_link_tag "desktop/web/static_pages", :media => "all" %>

<section>
	<div class="InterviewPanel">
		<h1>〜創筵 (そうえん) 〜</h1>
		<div class="InterviewPanel__photo">
		<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839894/interview_souen_rush/interview_souen_rush_0_t4t3pu.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
		<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839894/interview_souen_rush/interview_souen_rush_0_t4t3pu.jpg", :class => "sp", alt:"インタビューの写真") %>
		</div>

			<p>1200年前から続く日本のい草文化。歴史と伝統に裏付けされた商品価値、それとは裏腹に洋式住宅の普及による畳離れが顕著であることもまた事実です。</p>

			<p>しかし、こんな時代だからこそ本当に素晴らしいものを知ってほしい、より多くの人にい草の素晴らしさを伝えたい。城島町でい草製品を作り続けて70年、株式会社創筵代表取締役、下坂美佳さんに話を聞いてみました。</p>
			<p>時代の変遷にあったい草製品の可能性、株式会社創筵がい草にかける思い、そして城島町で生まれ育った下坂さんの城島町にかける思いとはいかに。</p>

			<h2>安心・安全を第一に、長く使っていただける商品を</h2>
			<p class="InterviewPanel__question">――会社について、また商品のこだわりについて教えてください。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839894/interview_souen_rush/interview_souen_rush_1_hbpf67.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839894/interview_souen_rush/interview_souen_rush_1_hbpf67.jpg",  :class => "sp", alt:"インタビューの写真") %>
			</div>
			<p><span style="font-weight: bold;">下坂</span>　株式会社創筵は1947年に創業致しまして私で3代目。70年間、城島町でい草製品を作り続けています。純国産、国内トップのシェアを誇る上質な熊本県八代産のい草のみにこだわった製品を製造しておりまして、座布団やラグを中心に現在300種類以上のい草商品を販売しております。</p>
			<p>商品のこだわりとしてはやはり、第一に安心・安全です。い草商品は基本的に毎日触れるもの、触れる機会が多いものになりますので、品質の良いい草だけを使用しています。安心してご使用いただける、そして安全にご使用いただけるように心がけています。</p>
			<p>また、デザイン面においても質の良いい草は光沢があって、日に焼けてもその美しさが劣化しないので、長くご使用いただくことができます。</p>

			<h3>とても自然なことだけど、嬉しいし、何よりも楽しい。天職かなって。</h3>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839908/interview_souen_rush/interview_souen_rush_2_aliytg.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839908/interview_souen_rush/interview_souen_rush_2_aliytg.jpg",  :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p class="InterviewPanel__question">――70年続く老舗企業の3代目としてご就任され、実際にい草商品の製造に関わってみていかがですか？</p>

			<p><span style="font-weight: bold;">下坂</span> 私が就任したのは2015年とまだ日は浅いんですが、祖父と父が作り上げてきたこの会社は小さい頃から私の遊び場で、工場にある機械に触らせてもらったり、本当にい草に近いところにいたんですね。だから、この仕事に就くことは私の中でとても自然なことだったんです。</p>
			<p>でも考えてみると、1200年以上も前から続いているい草文化、その長い歴史に自分が関われているということがとても嬉しいことだと思いますし、誇りにも思っています。そして何より楽しいです。もっと幅広い世代の人にい草の良さを知ってもらいたい、もっとたくさんの人に使ってもらいたいという思いが強くなると同時に、そのPR方法を模索したり、新商品を考えたりすることが本当に楽しいんです。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839905/interview_souen_rush/interview_souen_rush_3_fug3ji.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839905/interview_souen_rush/interview_souen_rush_3_fug3ji.jpg",  :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p>父の代まではい草の座布団とラグをメインに製造し、デザインも和柄のものを中心に販売していたんですけど、もっと女性が好むようなおしゃれな柄だったり、形だったり、またスリッパやコースター、ブックカバーというような日常生活で手軽に使える小物を作っていったらどうかということを考えること、そして実際に作ってみて、触れて、使ってみて、自分の思いがかたちになったって感じられる瞬間は本当に幸せですね。天職だって思っています。</p><p>これからも既成概念に囚われないい草の使い方、女性目線での商品の開発にも力を入れていきたいと考えています。</p>

			<h4>い草は電気のいらないエコな空気清浄機</h4>


			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839908/interview_souen_rush/interview_souen_rush_4_ueecws.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839908/interview_souen_rush/interview_souen_rush_4_ueecws.jpg",  :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p class="InterviewPanel__question">――い草の良さを知ってもらいたいとおっしゃっていましたが、い草の良さってどんなところにありますか？</p>


			<p><span style="font-weight: bold;">下坂</span>まずは香りですね。畳の香りってありますよね、懐かしいような、落ち着くようなあの独特な香り。もちろんあれはい草の香りなんですけど、あの匂いを嗅いでいるとなんだか癒されるって人は多いと思います。これはい草に含まれるチタンフィットとバニリンという成分によるものなんですけど、実はこの成分には森林浴と同じリラックス効果があるんです。</p><p>そのほかにも、い草は中がスポンジのような形状になってまして、空気中に水分、つまり湿気が多いときはその水分を吸い込んで、逆に空気が乾燥するとその溜め込んだ水分を吐き出すという作用も持っています。空気を綺麗にしたり、調湿効果にも優れているんですね。</p>

			<p class="InterviewPanel__question">――確かにこの部屋も自然な香りというか、とても空気が澄んでるように感じますよね。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839908/interview_souen_rush/interview_souen_rush_5_ex0crj.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839908/interview_souen_rush/interview_souen_rush_5_ex0crj.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p><span style="font-weight: bold;">下坂</span>　そうなんです。でも、実はさっきまでこの部屋で父がタバコを吸っていたんですよ。昔からこの部屋は父のタバコ部屋になってるんですけど、壁紙がすべてい草で編んだものになっているので臭いがまったく残らないんです。エコな空気清浄機という感じですね。</p><p>
			それから、い草は夏だけではなく一年中使える商品であるということも知ってもらいたいです。い草ってどうしても畳のイメージが強いからか、夏しか使えないものと思っている方が多いんですけど、本来い草は夏は涼しく、冬は暖かく、という一年中快適な気温を保とうとする効果があるんです。</p>

			<p class="InterviewPanel__question">――夏は布団の上にご座なんかを敷いて寝るとひんやり気持いという使い方ができますが、冬はい草商品をどんな使い方すればいいんでしょうか？</p>

			<p><span style="font-weight: bold;">下坂</span>　冬場は敷布団の上ではなく、敷布団の下にご座のようない草製品を置いて寝るといいですよ。そうすると、布団の中にあるこもった空気をい草が浄化してくれるので、快適な睡眠環境を保つことができます。</p>

			<p class="InterviewPanel__question">――先ほど、い草でつくったお茶と飴をいただきましたが、い草って食べられるんですね。</p>

			<p><span style="font-weight: bold;">下坂</span>　あまり知られていないことですが、い草は畳として使われるよりも前に漢方として日本に入ってきたという歴史があります。飴やお茶に使用しているい草は無農薬のものを使ってますので体にも優しいですし、お通じが良くなるという効果も持っています。またノンカフェインなので妊婦の方にも安心して飲んでいただけますし、花粉症が治るという研究結果も出ているなど、健康にもいいですよ！</p>

			<h5>ママが元気になれば、家族も、地域も元気になる</h5>

			<p><span style="font-weight: bold;">下坂</span>　女性が働きやすい職場、特にママたちが元気に働ける職場をつくりたいと思って、工場を24時間開けることにしたんです。そしていつ来てもいい、いつ帰ってもいい、という完全フレキシブルなスタイルで自由にお仕事をしていただいています。</p><p>私も3児の母親なのでママたちの苦労はよくわかるんですけど、幼稚園や小学校の送り迎えやご飯の支度、それから家事もこなすとなるとなかなかまとまった時間が取れなかったりします。その中でママとしてだけではなく、一人の人間として、一人の女性として自由に使える時間を取るのってさらに難しいことなんですよね。</p><p>でも、家庭においてママに元気がなかったら、やっぱり家庭も暗くなっちゃいますし、家庭がうまくいかない状況だと仕事も手につきません。こちらとしても仕事をしていただく以上、誇りを持って仕事をしていただきたいと思っていますが、それも元気な家庭あってのことです。まずはママの元気が一番、そして家庭も元気に、そうすれば自ずと地域全体が元気になっていくんじゃないかって考えてます。</p>


			<p class="InterviewPanel__question">――創筵さんでは面白い働き方を取り入れていると聞きましたが？</p>


			<p><span style="font-weight: bold;">下坂</span>女性が働きやすい職場、特にママたちが元気に働ける職場をつくりたいと思って、工場を24時間開けることにしたんです。そしていつ来てもいい、いつ帰ってもいい、という完全フレキシブルなスタイルで自由にお仕事をしていただいています。</p><p>私も3児の母親なのでママたちの苦労はよくわかるんですけど、幼稚園や小学校の送り迎えやご飯の支度、それから家事もこなすとなるとなかなかまとまった時間が取れなかったりします。その中でママとしてだけではなく、一人の人間として、一人の女性として自由に使える時間を取るのってさらに難しいことなんですよね。</p><p>でも、家庭においてママに元気がなかったら、やっぱり家庭も暗くなっちゃいますし、家庭がうまくいかない状況だと仕事も手につきません。こちらとしても仕事をしていただく以上、誇りを持って仕事をしていただきたいと思っていますが、それも元気な家庭あってのことです。まずはママの元気が一番、そして家庭も元気に、そうすれば自ずと地域全体が元気になっていくんじゃないかって考えてます。</p>

			<p class="InterviewPanel__question">――完全フレキシブルということは、お昼に出社して1時間だけ仕事をするとか、夜中に来て仕事をして帰ってもいいということですか？</p>

			<p><span style="font-weight: bold;">下坂</span>　そうですね、大歓迎です。いや、それ以上に仕事をしていかなくてもいいんです。ここはいつでも開けてますので、ちょっとお茶飲んだり、テレビを見ながらゴロゴロしたり、気が向いたらちょっとお仕事したり、という感じで来ていただいて。実際にそういう方もいらっしゃいますよ。</p>

			<div class="InterviewPanel__photo">
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839895/interview_souen_rush/interview_souen_rush_6_tbieqc.jpg", width:680, height:450, :class => "pc", alt:"インタビューの写真") %>
			<%= image_tag("http://res.cloudinary.com/dmfclza05/image/upload/v1498839895/interview_souen_rush/interview_souen_rush_6_tbieqc.jpg", :class => "sp", alt:"インタビューの写真") %>
			</div>

			<p class="InterviewPanel__question">――女性の雇用を積極的に行うことで、町を、地域を元気にしたいということですね！では下坂さんは城島町のどんなところが好きですか？また城島町のどんなところを知ってほしいですか？</p>

			<p><span style="font-weight: bold;">下坂</span>　生まれ育った町についてあまり深く考えることってなかなかなかったんですけど、仕事柄、県外に出張に行くことが多くなって、改めて城島町って贅沢だったんだなって感じるようになりましたね。田んぼであるとか筑後川であるとか、自然が本当に豊富で生活の近くにあること、野菜や果物が新鮮で美味しいこと、人と人とのつながりが強いこと。</p><p>当たり前だと思っていたものが、城島町を離れてみて本当は素晴らしいものだったんだなって痛感しますし、この『のどかさ』が恋しくなるんです。</p><p>こののどかさって、たぶん鳥のさえずりだったり、野花が多いこと、風を感じること、それによって時間がゆっくり進んでいるような感覚を覚えるからなんじゃないかって思っています。</p>

			<p class="InterviewPanel__question">――では、最後に『あしたの城島』ということで、城島町をどんな町にしたいですか？また、どんな町になって欲しいと考えていますか？</p>

			<p>わたし個人的な大きな目標としては、将来、保育園や幼稚園、小中学校や老人ホームなどの床や壁にい草を取り入ってもらいたいなと考えています。い草は人々を癒したり、また集中力を高めたりしますので、これらの施設に取り入れてもらえれば、多くの人が元気になるんじゃないかなって。</p><p>城島町は自由に、のびのびと活動できる町なので、それぞれが自分のやりたいこと、自分が楽しい、魅力的だって思える町をそれぞれにつくっていきながら、結果的に城島町がひとつの大きなスーパーマーケットみたいになって、みんなで協力しながら何か面白いことができればいいなって思っています。</p>
	</div>
</section>