<%= stylesheet_link_tag "desktop/web/static_pages", :media => "all" %>

<section>
	<div class="InterviewPanel">
		<h1>〜千代(ちよ)海苔〜</h1>
		<div class="InterviewPanel__photo"><%= image_tag("//res.cloudinary.com/dmfclza05/image/upload/v1499589094/interview_chiyo_seaweed/0.jpg", width:680, height:450, alt:"インタビューの写真") %></div>
	
		<p>海苔の生産量トップ3に輝く福岡県と佐賀県。城島町は福岡県でありながら佐賀県との県境に位置していることから、海苔の生産に適した地域とも言えます。有明海に流れ出る筑後川、その川のほとりで文化を築き、生活をつくってきた城島町。そしてそんな城島町で海苔加工を続けてきた千代海苔株式会社。</p>

		<p>全国にファンを持つ千代海苔の美味さの秘訣、こだわり、そして城島町に対する想いについて聞いてみました。</p>

		<h2>有明海苔にこだわる理由。有明海苔が美味い理由。</h2>
		
		<div class="InterviewPanel__photo"><%= image_tag("//res.cloudinary.com/dmfclza05/image/upload/v1499588862/interview_chiyo_seaweed/1.jpg", width:680, height:450, alt:"インタビューの写真") %></div>

		<p class="InterviewPanel__question">
		――1957年創業、城島町で海苔に携わり続けて60年ということですが、千代海苔さんでは商品づくりに対してどのようなこだわりを持っていらっしゃいますか？</p>

		<p><span style="font-weight: bold;">千代島</span>　まずは素材についてのこだわりなんですが、千代海苔で扱っている商品はすべて有明海で採れた海苔だけを使っていまして、その中でも特に質のいい福岡県、佐賀県、熊本県産の海苔のみを厳選しています。</p>

		<p class="InterviewPanel__question">
		――有明海産の海苔と聞くと無条件に美味しいというイメージが沸くのですが、有明海で採れた海苔はどうして美味しいんでしょうか？</p>

		<p><span style="font-weight: bold;">千代島</span>日本一の海苔の産地である有明海には、筑後川や矢部川という九州の中でも特に大きい一級河川が流れ込んでくるんですが、これらの大きな川が豊富な栄養分を含んでいるということが大きく挙げられますね。その栄養分が海に流れ込んで海苔が成長するための養分になるんです。</p>

		<p>また、有明海は潮の満ち引きによる干満の差が非常に大きいということも海苔の美味しさと深く関係しています。有明海では干満の差がだいたい6ｍほど、つまり潮が引くと6mほど海面が下がるんですね。しかも潮の流れが大変速い。そうすると、海の水が海底までよく掻き回されて、海の隅々までに酸素が行き渡るので、豊かな生態系が形成されていくんです。有明海では昔からこの干満の差を利用した海苔づくりが行われてきたんですけど、この方法がまた海苔を美味しく育てるんですね。</p>

		<div class="InterviewPanel__photo"><%= image_tag("//res.cloudinary.com/dmfclza05/image/upload/v1499588862/interview_chiyo_seaweed/2.jpg", width:680, height:450, alt:"インタビューの写真") %></div>

		<p class="InterviewPanel__question">――漁のやり方で海苔が美味しくなる？</p>

		<p><span style="font-weight: bold;">千代島</span>そうなんです。有明海に大きな棒のようなものが無数に立っている光景をみたことありませんか？あれがまさに海苔づくりのために漁師（海苔師）さんたちが立てた支柱なんですけど、あの支柱には海苔の網が張られているんです。</p>

		<p>満潮時には海苔の網が海の中に浸かるように、干潮時には海上に海苔が露出するような高さで張られているんですね。そうすることによって海の中にいるときは海の中の栄養分をぎっしりと受け止めて、干潮で海面が下がると海の上に露出して太陽の光を浴びてうま味がぎゅっと閉じ込められるんです。</p>

		<p><span style="color: red;">満潮・干潮の海面の高さは刻々と変化します。それに合わせた海苔師さんの網の高さの管理が重要になってきます。</span></p>

		<p>これは有明海だからこそできる海苔の生産方法でして、他の海苔漁場ではまず見られない方法です。他の漁場のように海に浸かりっぱなしでつくられた海苔よりも、有明海でつくられた海苔が茜色に輝いているのはこのためですね。</p>

		<p class="InterviewPanel__question">――なるほど、有明海の特性とその特性を生かした海苔づくりによって美味しい海苔がつくられているということですね。</p>

		<p><span style="font-weight: bold;">千代島</span>もっと専門的な話で言えば、海水の比重という点においても有明海は海苔づくりに最適なんです。海苔の産地である瀬戸内海の比重が26～27度に対して、有明海は22～23度と低くなってます。実はこの比重の違いによって海苔の硬さに違いがでるんですが、瀬戸内海では黒くて硬い海苔ができやすく、対して有明海では茜色の柔らかい海苔ができやすい。口に入れた瞬間にふわりととろけるような柔らかさを感じるのもこのためですね。</p>

		<p>とはいえ、この柔らかい海苔をつくるのが難しいんです。雨が長続きすると1～2日で網から流れてしまいますし、腐れて商品にならなくなることもありますので、一般の海苔に比べて手入れがものすごく大変なんです。毎年、気候や環境が微妙に変わっていくので、それに合わせた海苔づくりが求められます。本当に毎日が真剣勝負です。</p>

		<p>また有明海苔には特別な等級「旬等級」というものがあって、アミノ酸含有量が45%以上の海苔にだけその等級が許されるんですね。アミノ酸含有量45%以上のものは人の味覚ではなく、機械によって分別するため本当に厳正な調査によって等級付が行われます。このように本気でいいものを作ろうという気概も<span style="color: red">有明海産海苔</span>が美味しいと言われる理由なんでしょうね。</p>

		<h3>素材本来のうまみを生かしたい、引き出したい！</h3>

		<div class="InterviewPanel__photo"><%= image_tag("//res.cloudinary.com/dmfclza05/image/upload/v1499588858/interview_chiyo_seaweed/3.jpg", width:680, height:450, alt:"インタビューの写真") %></div>

		<p class="InterviewPanel__question">――有明海産海苔が美味しいと言われているのには、このような理由があったんですね。素材を生かすという点でいくと、看板商品である若紫のりには「一番摘み」、潮風のたよりには「有明本張」という名称が付いていますね。これもこだわりのひとつですよね？</p>

		<p><span style="font-weight: bold;">千代島</span>一番摘みは生産者の間では「はなのり」とも言いますが、お茶なんかと同じで新芽の柔らかい海苔葉だけを摘んだものをいいます。きれいな深緑色の焼き色で、うまみ成分や栄養成分などが一番豊富に含まれていて、出荷枚数も少なく貴重価値の高い海苔になります。</p>

		<p>2回3回と摘んでいくうちに海苔葉も少しずつ硬くなって栄養価やうまみ成分も少しづつ低くなるので、海苔本来の味、本当に美味しい海苔を味わいたいなら「若紫のり」がおすすめです。</p>

		<div class="InterviewPanel__photo"><%= image_tag("//res.cloudinary.com/dmfclza05/image/upload/v1499588853/interview_chiyo_seaweed/4.jpg", width:680, height:450, alt:"インタビューの写真") %></div>

		<p class="InterviewPanel__question">――若紫のりは「むらさき芋エキス配合の味液」を使用した味付けになっていますが、どのような特徴がありますか？</p>

		<p><span style="font-weight: bold;">千代島</span>味付けに関しては、海苔本来の味を邪魔しないこと、品のある甘さ、そして海苔の旨みにコクがでるように試行錯誤をした結果、「むらさき芋エキス配合の味液」というものにたどり着きました。深みのあるまろやかな味わいで、美しい艶と芳醇な香りをお楽しみいただけると思います。</p>

		<p>また、むらさき芋にはポリフェノールの一種であるアントシアニンが含まれており、抗酸化作用や眼病予防にも効果があると言われています。健康的な体づくりにも一役買っていて、かつ長く味わっていただけるというのも、この味付けの特徴ですね。</p>

		<p class="InterviewPanel__question">――味付けに関して言えば、鰹節や醤油などにもこだわりがあるようで。</p>

		<p><span style="font-weight: bold;">千代島</span>海苔の旨みを生かすも殺すも味付け次第ですからね。醤油も地元の醤油メーカーに依頼して、海苔に合う本醸造生揚げ醤油を使っています。通常の醤油を使うと火入れしたときに香りが強く出過ぎて、海苔の繊細な香りを消してしまうんですよ。なんと言っても主役は海苔なので、昆布にしても、にぼしにしても、桜エビにしても、味付けに使用する素材はすべて海苔本来の美味さを生かし、引き出しせるもののみを厳選して使用しています。</p>

		<h4>ほかとは一味違う、“ここだけ”の焼きのりを感じて欲しい。</h4>

		<div class="InterviewPanel__photo"><%= image_tag("///res.cloudinary.com/dmfclza05/image/upload/v1499588851/interview_chiyo_seaweed/5.jpg", width:680, height:450, alt:"インタビューの写真") %></div>

		<p class="InterviewPanel__question">――「潮風のたより」もそうですが、千代海苔さんでは味のりの他にも、「塩のり」「焼きのり」とラインナップがあり、三種類から味を選ぶことができるんですよね。</p>

		<p><span style="font-weight: bold;">千代島</span>好みやシーンによって使い分けていただければと思っています。味のりに関しては先ほど言ったように、いろんな素材を厳選し、配合した味液によって味付けを行っていますが、海苔本来の味をダイレクトに楽しんでいただくには、やはり「焼きのり」がおすすめですね。</p>

		<p>焼きのりは味にごまかしが効きませんので、千代海苔のこだわりも感じていただけると思います。特に、2015年9月より導入しました製造ラインでは遠近赤外線焼釜を採用し、じっくり、そして丁寧に加工しています。電熱線を使って表面だけを焼く焼き方が一般的ですが、弊社では表面だけでなく内側からも焼き上げることができるので、よりジューシーに感じられると思います。</p>

		<div class="InterviewPanel__photo"><%= image_tag("//res.cloudinary.com/dmfclza05/image/upload/v1499588836/interview_chiyo_seaweed/6.jpg", width:680, height:450, alt:"インタビューの写真") %></div>

		<p>焼き加減においても気温や湿度など、環境的な要因に左右されますが、60年海苔づくりに携わってきた経験と勘をもとに最適な焼き具合で加工を行っています。お客様の口に入るものなんで、安全な食品提供という面においても、加工には十分気を配って行っています。</p>

		<p class="InterviewPanel__question">――城島町で海苔の加工を続けて60年。城島町の魅力についてお聞かせいただきたいと思います。</p>

		<p><span style="font-weight: bold;">千代島</span>城島町は酒、瓦、和傘など古くから歴史を持つ産業が今でも続いています。新しい産業が生まれて、何十年、何百年と続いていくということは、その土地との強い関係性、この場所じゃなきゃダメだという理由だったり、地元の人から愛され続けてきた結果だと思うんですね。だから、いま城島にあるもの、城島で頑張っている人たち、そのすべてが城島の魅力なんだと思います。弊社もそういう存在に成れたらと思いますし、地域に愛され続ける会社で有り続けたいと思います。</p>

		<p class="InterviewPanel__question">――では、最後に『あしたの城島』ということで、城島町をどんな町にしたいですか？また、どんな町になって欲しいと考えていますか？</p>

		<p><span style="font-weight: bold;">千代島</span>子どもからお年寄りまで、あらゆる年代の方に優しい町、住みやすい町になってほしいと思います。自分もこの町で生まれ育って、小学校、中学校、そしてこうやってこの町で働き、住み続けているんですけど、なかなか自分たちの町を振り返ることってないんですよね。だけど、改めて考えてみると、自分たちが子供のときも誰かがこの町を住みやすい町にしようと動いてくれていたんだなぁって思いますし、次は自分たちの番だなって。みんなが城島を誇れる故郷として思えるような町になるといいですね。</p>
	</div>
</section>