<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
		<p>この度は明日の城島をご利用いただき、誠にありがとうございます。本日、以下の内容にてご注文を承りました。ご確認の程、よろしくお願いいたします。
		</p>
		<p>
		なお、発送につきましてはご注文確認後、7営業日以内の発送を原則としています。万が一、入荷待ちになったなった場合は、お時間をいただく場合もございますのでご了承ください。
		</p>

		<div class="ProductInfo">
		▼ご注文商品情報<br>
		<% @order_items.each.with_index do |order_item, index| %>
		================================================================<br>
		【　商　　品　　名　】<%= Product.find(order_item.id).name %><br>
		【　サイズ　】<%= Option.find(order_item.option).title %><br>
		【　価　格　(税込)　】<%= number_to_currency(Option.find(order_item.option).value) %><br>
		【　　数　　　量　　】<%= order_item.quantity %><br>
		================================================================<br>
		<% end %>
		【　　送　　　料　　】<%= number_to_currency(@total_shipping_fee) %><br>
		【　総　　合　　計　】<%= number_to_currency(@order_total_price) %> <br>
		</div>

		<div class="UserInfo">
		▼購入者情報<br>
		================================================================<br>
		【　お　　名　　前　】<%= @order_user.sender %><br>
		【　送り主 電話番号　】<%= @order_user.mobile %><br>
		【　メールアドレス　】<%= @order_user.email %><br>
		【　送り主  住所　】<%= @order_user.sender_address %><br>
		【　注　　文　　日　】<%= @unique_order.created_at %><br>
		【　決　済　方　法　】クレジットカード<br>
		</div>

		<div class="ShippingInfo">
		▼配送先情報<br>
		================================================================<br>
		【　受取人 お名前  】<%= @shipping_address.recipient %><br>
		【　郵　便　番　号　】<%= @shipping_address.postalcode %><br>
		【　ご　　住　　所　】<%= @shipping_address.prefecture.name %><%= @shipping_address.address %><br>
		【　受取人　電話番号　】<%= @shipping_address.tel %><br>
		</div>

		<p>※お客様のご都合によるキャンセル、追加や変更はお受けできかねますので予めご了承お願いします。</p>
    </body>
</html>
