<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
		<p>この度は明日の城島をご利用いただき、誠にありがとうございます。
		本日、以下の内容にてご注文を承りました。ご確認の程、よろしくお願いいたします。
		</p>

		<p>なお、発送につきましてはご注文確認後、7営業日以内の発送を原則としています。万が一、入荷待ちになったなった場合は、お時間をいただく場合もございますのでご了承ください。</p>

		<div class="ProductInfo">
		▼ご注文商品情報<br>
		================================================================<br>
		【　商　　品　　名　】<%= @order_product.name %><br> 
		【　価　格　(税込)　】<%= @order_product.value %><br>
		【　　数　　　量　　】<%= @order_quantity %><br>
		【　　送　　　料　　】<br> 
		【　総　　合　　計　】<%= number_to_currency(@order_total_price) %> <br>
		</div>

		<div class="UserInfo">
		▼お客様情報<br>
		================================================================<br>
		【　お　　名　　前　】<%= @order_user.name %><br>
		【　メールアドレス　】<%= @order_user.email %><br>
		【　郵　便　番　号　】<%= @order_address.postalcode %><br>
		【　ご　　住　　所　】<%= @order_address.address %><br>
		【　注　　文　　日　】<%= @order.created_at %><br>
		【　決　済　方　法　】クレジットカード<br>
		</div>

		<div class="ShippingInfo">
		▼配送先情報<br>
		================================================================<br>
		【　お　　名　　前　】<br>
		【　郵　便　番　号　】<br>
		【　ご　　住　　所　】<br>
		【　電　話　番　号　】<br>
		［　商　品　詳　細　］<br>
		</div>

		<p>※お客様のご都合によるキャンセル、追加や変更はお受けできかねますので予めご了承お願いします。</p>
    </body>
</html>
