<%= stylesheet_link_tag "desktop/web/devise", :media => "all" %>

<div id="form_notext">
  <h2>アカウント編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <!--<%= f.label :email %><br />-->
      <%= f.email_field :email, autofocus: true %>
    </div>

    <%= session[:previous_url] %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.text_field :name, placeholder:"ユーザー名", autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.text_field :sender, placeholder:"本名 (送り主のお名前として使用されます)", autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.text_field :mobile, placeholder:"電話番号 (09012345678)" %>
    </div>

    <div class="">
      <%= f.text_field :sender, placeholder:"送り主名(配送の際に使用されます)", autocomplete: "off" %>
    </div>

    <div class="">
      <%= f.text_field :mobile, placeholder:"電話番号 (09012345678)", autocomplete: "off" %>
    </div>

<%
=begin
%>
    <div class="field">
      <!--<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />-->
      <%= f.password_field :password, placeholder:"パスワードを変更しない場合は空欄", autocomplete: "off" %>
    </div>

    <div class="field">
      <!--<%= f.label :password_confirmation %><br />-->
      <%= f.password_field :password_confirmation, placeholder:"変更パスワード再確認", autocomplete: "off" %>
    </div>

    <div class="field">
      <!--<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />-->
      <%= f.password_field :current_password, placeholder:"現在のパスワードを入力してください", autocomplete: "off" %>
    </div>

<%
=end
%>
    <div class="long_btn">
      <%= f.submit "更新" %>
    </div>
  <% end %>

  <!--
  <h3>アカウントの削除をご希望の方はこちら</h3>

  <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  -->
  <div class="nav_btn">
    <%= link_to "戻る", :back %>
  </div>
</div>