<%= stylesheet_link_tag "desktop/admin/orders", :media => "all" %>

<div class="OrderList">
	<% if @orders.present? %>

		<table class="OrderList__item">
			<h1>注文一覧画面</h1>
			<tr>
				<th>注文ID</th>
				<th>ユーザー名</th>
				<th>商品名</th>
				<th>オプション名</th>
				<th>価格</th>
				<th>数量</th>
				<th>注文日</th>
				<th>配送状況</th>
			</tr>
		<% @orders.each do |order| %>
			<tr>
				<td><%= order.id %></td>
				<td><%= order.user.name %></td>
				<td><%= order.product.name %></td>
				<% if order.option.present? %>
					<td><%= Option.find(order.option).title %></td>
					<td><%= Option.find(order.option).value %></td>
				<%else%>
					<td>記録がありません</td>
					<td>記録がありません</td>
				<% end %>
				<td><%= order.quantity %></td>
				<td><%= order.created_at %></td>
				<td><%= order.delivery.status %></td>
				<td><%= link_to "詳細", [:admin, order] %></td>
			</tr>
		<% end %>
		</table>
	<% end %>
</div>
