<%= stylesheet_link_tag "orders", :media => "all" %>

<div id="orders_list">
	<% if @orders.present? %>

		<table class="order_list">
			<h1>注文一覧画面</h1>
			<tr>
				<th>注文ID</th>
				<th>ユーザー名</th>
				<th>商品名</th>
				<th>価格</th>
				<th>注文日</th>
				<th>配送状況</th>
			</tr>
		<% @orders.each do |order| %>
			<tr>
				<td><%= order.id %></td>
				<td><%= order.user.username %></td>
				<td><%= order.product.name %></td>
				<td><%= order.product.value %></td>
				<td><%= order.created_at %></td>
				<td><%= order.delivery.status %></td>
				<td><%= link_to "詳細", [:admin, order] %></td>
			</tr>
		<% end %>
		</table>
	<% end %>
</div>
