<%= stylesheet_link_tag "desktop/admin/orders", :media => "all" %>

<section class="OrderInfo">
	<div class="OrderInfo__id">
		<ul>
			<li>Order ID : <%= @order.id %></li>
			<li>注文日時 : <%= @order.created_at %></li>
		</ul>
	</div>
	<div class="OrderInfo__info">
		<ul>
			<li>商品名 : <%= link_to @order.product.name, product_path %></li>
			<li>価格 : <%= number_to_currency(@order.product.value) %></li>
			<li><%= image_tag @order.product.image.url, height: 400, width:280, alt: "注文品の写真" %></li>
		</ul>
	</div>
	<div class="OrderInfo__info">
		<ul>
			<li>購入者 : <%= @order.user.name %></li>
			<li>郵便番号 : <%= @current_address.postalcode %></li>
			<li>配送先 : <%= @current_address.address %></li>
		</ul>
	</div>
	<div class="OrderInfo__status">
		<p class="OrderInfo__status--detail"><%= @order.delivery.status %></p>
		<% unless @order.delivery.id == 1 %>
		<p>配送ステータス最終更新 : <%= @order.updated_at %></p>
		<% end %>
		<% if @order.delivery.id === 1 %>
			<%= form_for [:admin, @order] do |form| %>
				<%= form.submit %>
			<% end %>
		<% elsif @order.delivery.id === 2 %>
			<%= form_for [:admin, @order] do |form| %>
				<%= form.submit %>
			<% end %>
		<% end %>
	</div>
</section>