<%= stylesheet_link_tag "shared", :media => "all" %>

<div id="header">
	<div class="logo_image">
		<%= link_to image_tag("logo.jpg", size:"200x70", alt: "logo picture of sakeviva"), root_path %>
	</div>
	<div class="menu">
		<ul id="menu_bar" class="dropmenu">
		    <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
		      <% if user_signed_in? %>
		      <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
		      <!-- *_path はUserモデルを作成したときに、
		        deviseにより自動で作成されてますので、rake routesで確認できます -->
		      <li><%= current_user.username %>
		      	<ul>
		      		<li><%= link_to '注文履歴', user_orders_path %></li>
			    	<li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
			     	<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
			    </ul>
			   </li>
		    <% else %>
		     <li>サインアップ
		    	<ul>
		      		<li><%= link_to "サインアップ", new_user_registration_path %></li>
		      		<li><%= link_to "ログイン", new_user_session_path %></li>
   		     	</ul>
		     </li>
		    <% end %>
		</ul>
	</div>
</div>
