<%= stylesheet_link_tag "shared", :media => "all" %>

<h1>テーマから選ぶ</h1>
<ul class="side_bar_theme_list">
	<li><%= link_to "ギフトにぴったりな日本酒", 'http://localhost:3000/theme_tags/1' %></li>
	<li><%= link_to "自分へのごほうび日本酒", 'http://localhost:3000/theme_tags/2' %></li>
	<li><%= link_to "日本酒初心者への日本酒", 'http://localhost:3000/theme_tags/3' %></li>
	<li><%= link_to "おすすめから選ぶ日本酒", 'http://localhost:3000/theme_tags/4' %></li>
	<li><%= link_to "料理に合う日本酒", 'http://localhost:3000/theme_tags/5' %></li>
	<li><%= link_to "季節で選ぶ日本酒", 'http://localhost:3000/theme_tags/6' %></li>
</ul>

<h2>カテゴリーから選ぶ</h2>
<ul class="side_bar_category_list">
	<li><%= link_to "甘口日本酒", category_first_path %></li>
	<li><%= link_to "辛口日本酒", category_second_path %></li>
	<li><%= link_to "吟醸", category_third_path %></li>
	<li><%= link_to "大吟醸", category_fourth_path %></li>
</ul>

<h3>価格帯から探す</h3>
<ul class="side_bar_price_list">
	<li>〜3000円</li>
	<li>5000円〜10000円</li>
	<li>10000円〜</li>
</ul>

