<%= stylesheet_link_tag "desktop/web/shared", :media => "all" %>

<footer>
	<div class="Footer">
		<div class="Footer__category">
			<p>あしたの城島</p>
			<li>地域：福岡県久留米市城島町</li>
			<li>お問い合わせ：<%= link_to "こちら", inquiry_path %></li>
			<li>facebookページ：<%= link_to "こちら", "//www.facebook.com/inakagurasi.joujima/" %></li>
		</div>

		<div class="Footer__category">
			<p>インフォメーション</p>
			<li><%= link_to_unless_current "お問い合わせ", inquiry_path %></li>
			<li><%= link_to_unless_current "配送方法・送料・お支払い方法について", inquiry_path %></li>
			<li><%= link_to_unless_current "特定商取引法に基づく表記", trade_law_path %></li>
		</div>

		<div class="Footer__category">
			<p>リンク</p>
			<li><%= link_to "日本酒メディア", "//jo-jima.com/ec/sake/blog/" %></li>
			<li><%= link_to "地域おこしブログ", "//jo-jima.com/blog/" %></li>
			<li></li>
		</div>
	</footer>
<div>