<div id="confirmation_all">
  <section class="Cart">
  <% for item in @cart.items %>
      <ul class="Cart__item">
        <li class="Cart__item--image">
        <%= image_tag(item.image.url, height: 120, width: 100, :class =>'pc', alt: "酒の写真") %>
        <%= image_tag(item.image.url, height: 210, width: 170, :class =>'sp', alt: "酒の写真") %></li>
        <li class="Cart__item--name"><%= link_to "#{item.name}", item.product %></li>
        <li class="Cart__item--quantity">数量 : <%= item.quantity %></li>
        <li class="Cart__item--subtotal"><%= number_to_currency(item.subtotal_price) %></li>
      </ul>
  <% end %>
  </section>

  <section class="Address">
      <table class="Address__item">
        <tr><td>受け取り人 :</td><td style="text-align: center"><%= @current_address.recipient %></td></tr>
        <tr><td>郵便番号 :</td><td style="text-align: center"><%=  @current_address.postalcode %></td></tr>
        <tr><td>郵送先住所 :</td><td style="text-align: center"><%=  Prefecture.find(@current_address.prefecture_id).name %>県<%= @current_address.address %></td></tr>
        <tr><td>電話番号 :</td><td style="text-align: center"><%=  @current_address.tel %></td></tr>
      </table>
  </section>
  <div class="total_shipping_fee">送料 : <%=  number_to_currency(@total_shipping_fee) %></div>
  <div class="total_price">お支払合計金額 : <%=  number_to_currency(@total_price) %></div>

  <div class="payjp-button">お支払い
<%= form_tag(action: :pay, method: :post) do %>
  <% if Rails.env == 'development' %>
  <script src="https://checkout.pay.jp/" class="payjp-button" data-key="pk_test_881e6a718672d171e72ee9dc"></script>
  <% else %>
  <script src="https://checkout.pay.jp/" class="payjp-button" data-key="pk_live_bf15a30695f37bf032d9ae78"></script>
  <% end %>
   <%= hidden_field_tag :total_price, params[:total_price] %>
   <%= hidden_field_tag :total_shipping_fee, params[:total_shipping_fee]%>
   <%= hidden_field_tag :current_user, current_user.id %>

   <% @cart.items.each do |item| %>
     <%= hidden_field_tag "items[][item_id]", item.id %>
     <%= hidden_field_tag "items[][item_quantity]", item.quantity %>
   <% end %>

<% end %>

  </div>
</div>


