<!--Stripe order and credit form -->

<!-- Send to reservations#create action-->

<div id="confirmation_all">

  <div class="product_section">
    <section class="product_img">
      <%= image_tag @order.product.image, :height =>"250", :width =>"400"%>
    </section>
    <section class="product_details">
      <p><%= @order.product.name %></p>
      <p>単価 : <%= @order.product.value %>円</p>
      <p>合計 : <%= @total_price %>円</p>
      <p>数量 : <%= @quantity %></p>
    </section>
  </div>

  <div class="address_section">
    <h2>配送先住所</h2>
    <ul class="address_detail">
      <li><%= @current_address.recipient %></li>
      <li>〒<%= @current_address.postalcode %></li>
      <li><%= @current_address.prefecture&.name %>県 <%= @current_address.address %></li>
    </ul>
  </div>
</div>

<%= form_tag(action: :pay, method: :post) do %>
   <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="公開キー"></script>
<% end %>

<!--
<%= form_tag reservations_path do %>
<%= hidden_field_tag :product_id,params[:product_id] %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>

-->

<!--
 <script src="https://checkout.stripe.com/checkout.js"></script>

  <script>
    // You can select to pay either directly or via the platform, so
    // we need both publishable keys here.
    window.publishable = {
      platform: "<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
    };
    window.currentUserEmail = "<%= current_user.email %>";

    window.totalPrice = "<%= @total_price %>";
 </script>
-->

