<%= stylesheet_link_tag "desktop/web/devise", :media => "all" %>

<div id="form_notext">
  <h2>ログイン</h2>

  <%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, class: "btn btn-facebook" %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <!--<%= f.label :email %><br />-->
      <%= f.email_field :email, placeholder:"メールアドレス", autofocus: true %>
    </div>

    <div class="field">
      <!--<%= f.label :password %><br />-->
      <%= f.password_field :password, placeholder:"パスワード", autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="password_remember_box">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    </div>
    <% end %>

    <div class="long_btn">
      <%= f.submit "ログイン" %>
    </div>

  <% end %>

  <div class="nav_btn">
    <%= link_to "パスワードをお忘れの方", new_user_password_path %><br>
    <%= link_to "アカウントをお持ちでない方", new_user_registration_path %>
  </div>
</div>
