<%= stylesheet_link_tag "addresses", :media => "all" %>
<%= stylesheet_link_tag "errors", :media => "all" %>

<div id="address_form">
	<h1>配送先住所登録</h1>
	<%= form_for @address do |form| %>
		<% if @address.errors.any? %>
			<div id="error_explanation">
				<ul>
					<% @address.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<%= render "form", form: form %>
		<div class="form_action">
			<%= form.submit %>
		</div>
	<% end %>
</div>
