<table class="attr">
	<tr>
		<th><%= form.label :name, "商品名" %></th>
		<td><%= form.text_field :name %></td>
	</tr>

	<tr>
		<th><%= form.label :price, "価格" %></th>
		<td><%= form.number_field :price %></td>
	</tr>

	<tr>
		<th><%= form.label :description, "商品詳細" %></th>
		<td><%= form.text_field :description %></td>
	</tr>

</table>