<div id="individual_product">
	<table class="attr">
		<tr>
			<th><%= form.label :name, "商品名" %></th>
			<td><%= form.text_field :name %></td>
		</tr>

		<tr>
			<th><%= form.label :value, "価格" %></th>
			<td><%= form.number_field :value %></td>
		</tr>
		<tr>
			<th><%= form.label :description, "商品詳細" %></th>
			<td><%= form.text_area :description, :size => "60x15" %></td>
		</tr>

		<tr>
			<th><%= form.label :alcoholpercentage, "アルコール度数" %></th>
			<td><%= form.text_field :alcoholpercentage %></td>
		</tr>

		<tr>
			<th><%= form.label :ingredients, "原材料名" %></th>
			<td><%= form.text_field :ingredients %></td>
		</tr>

		<tr>
			<th><%= form.label :sakepercentage, "日本酒度" %></th>
			<td><%= form.text_field :sakepercentage %></td>
		</tr>

		<tr>
			<th><%= form.label :ricedegree, "精米歩合" %></th>
			<td><%= form.text_field :ricedegree %></td>
		</tr>

	</table>

	<div class="tag_section">
		<table class="theme_tag_list">
			<%= form.label :theme_tag %>
			<%= form.collection_select :theme_tag_id, ThemeTag.all, :id, :tag_name %>
		</table>

		<table class="type_tag_list">
			<%= form.label :type %>
			<%= form.collection_select :type_id, Type.all, :id, :type_name %>
		</table>

		<table class="price_tag_list">
			<%= form.label :price %>
			<%= form.collection_select :price_id, Price.all, :id, :price_range %>
		</table>

		<table class="category_tag_list">
			<%= form.label :category %>
			<%= form.collection_select :category_id, Category.all, :id, :name %>
		</table>
	</div>

	<div class="field">
	    <% if @product.image? %>
		    <div class="thumbnail"><%= image_tag @product.image.url %></div>
	    <% else %>
		<label for="product_image" class="file">
		    <p class="btn"><%= form.file_field :image%>商品画像</p>
		    <%= form.hidden_field :image_cache %>
		</label>
	    <% end %>
	</div>

	<div class="cloudinary">
	<%= form.hidden_field :image_cache %>
	<%= form.file_field :image %>
	</div>

	<div class="field">
		<!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
		<% if @product.persisted? && @product.image? %>
			<label><%= form.check_box :remove_image %>画像を削除</label>
		<% end %>
	</div>
	<!-- 追加箇所 終了 -->
</div>
