<div id="individual_product">
	<table class="attr">
		<tr>
			<th><%= form.label :name, "商品名" %></th>
			<td><%= form.text_field :name %></td>
		</tr>

		<tr>
			<th><%= form.label :value, "価格" %></th>
			<td><%= form.number_field :value %></td>
		</tr>
		<tr>
			<th><%= form.label :description, "商品詳細" %></th>
			<td><%= form.text_area :description, :size => "60x15" %></td>
		</tr>
	</table>

	<div class="tag_section">
		<table class="theme_tag_list">
			<%= form.label :theme_tag %>
			<%= form.collection_select :theme_tag_id, ThemeTag.all, :id, :tag_name %>
		</table>

		<table class="type_tag_list">
			<%= form.label :type %>
			<%= form.collection_select :type_id, Type.all, :id, :type_name %>
		</table>

		<table class="price_tag_list">
			<%= form.label :price %>
			<%= form.collection_select :price_id, Price.all, :id, :price_range %>
		</table>
	</div>

	<div class="field">
	    <% if @product.image? %>
		    <div class="thumbnail"><%= image_tag @product.image.url %></div>
	    <% else %>
		<label for="product_image" class="file">
		    <p class="btn"><%= form.file_field :image%>商品画像</p>
		    <%= form.hidden_field :image_cache %>
		</label>
	    <% end %>
	</div>
	<div class="field">
		<!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
		<% if @product.persisted? && @product.image? %>
			<label><%= form.check_box :remove_image %>画像を削除</label>
		<% end %>
	</div>
	<!-- 追加箇所 終了 -->
<div id="products_story">
	<div class="story_one">
		<h1><%= form.label :story_title, "ストーリー１タイトル"%></h1>
			<%= form.text_field :story_title_one, :size => "60" %>
		<h2><%= form.label :overview_one, "ストーリー1" %></h2>
			<%= form.text_area :overview_one, :size => "80x20", :maxlength => "2000" %></p>
	</div>
	<div class="story_two">
		<h3><%= form.label :story_title, "ストーリー２タイトル"%></h3>
			<%= form.text_field :story_title_two, :size => "60" %>
		<h4><%= form.label :overview_two, "ストーリー2" %></h4>
		<%= form.text_area :overview_two, :size => "80x20", :maxlength => "2000" %></p>
	</div>
	<div class="photo_upload">
		<%= form.fields_for :images do |p| %>
			<div class="field">
				<label for="product_images_attributes_0_image" class="file">
					<p class="btn"><%= p.file_field :image, :multiple => true, name: "images[image][]" %>ストーリー画像</p>
					<%= p.hidden_field :image_cache %>
				</label>
			</div>
		<% end %>
		<% if p.present? %><!--#画像が存在するときのみ-->
			<dic class="photo_remove">
				<label><%= form.check_box :remove_image %>画像を削除
				</label>
			</div>
		<% end %>
	</div>
</div>