<%= stylesheet_link_tag "desktop/web/products", :media => "all" %>
<div id="product_registration">
	<h1>商品登録ページ</h1>
	<%= form_for [:admin, @product] do |form| %>
	<% if @product.errors.any? %>
		<div id="error_explanation">
		<h2><%= @product.errors.count %>件のエラーがあります。</h2>
		<ul>
		<% @product.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>
	<%= render "form", form: form %>
	<p class="btn"><%= form.submit %></p>
	<% end %>
</div>