<%= stylesheet_link_tag "desktop/web/products", :media => "all" %>

<!--
<div id="products_list">
	<table class="products_list">
		<tr>
			<th>商品名</th>
			<th>価格</th>
			<th class="description">商品詳細</th>
		</tr>
		<tr>
			<td><%= @product.name %></td>
			<td><%= @product.price %></td>
			<td class="description"><%= @product.description %></td>
		</tr>
	</table>
-->
<div id="individual_product">
	<ul class="product_details">
		<li>商品名 : <%= @product.name %></li>
		<li>商品価格 : <%= number_to_currency(@product.value) %></li>
		<li>商品詳細 : <%= @product.description %></li>
		<li>アルコール度数 : <%= @product.alcoholpercentage %></li>
		<li>原材料名 : <%= @product.ingredients %></li>
		<li>日本酒度 : <%= @product.sakepercentage %></li>
		<li>精米度合 : <%= @product.ricedegree %></li>
		<li><%= image_tag @product.image.url, :width => '500', :height => '300' %></li>
	</ul>

	<div class="products_story">
		<%= link_to "編集する", :edit_admin_product %>
		<%= link_to "一覧に戻る", :admin_products %>
	</div>
</div>