<%= stylesheet_link_tag "desktop/web/products", :media => "all" %>

<div id="individual_product">
	<ul class="product_details">
		<li>商品名 : <%= @product.name %></li>
		<li>商品詳細 : <%= simple_format(@product.description) %></li>
		<% @options.each do |option| %>
			<li>オプション名 : <%= option.title %></li>
			<li>商品価格 : <%= option.value %></li>
		<% end %>
				<li>商品情報：<%= simple_format(@product.info) %></li>
		<li>店舗名 : <%= @product.shop.name %></li>
		<li>メインイメージ : <%= image_tag @product.image.url, :width => '500', :height => '300' %></li>
		
		<% @images.each do |sub_image| %>
			<li>商品サブ画像 : <%= image_tag sub_image.image.url, :width => '500', :height => '300' %></li>
		<% end %>	
	</ul>

	<div class="products_story">
		<%= link_to "編集する", :edit_admin_product %>
		<%= link_to "一覧に戻る", :admin_products %>
	</div>
</div>