<%= stylesheet_link_tag "desktop/web/categories", :media => "all" %>

<section class="Instruction">
	<h1>城島町の雑貨</h1>
	<div class="Instruction__image">
    <%= cl_image_tag("category/category_grocery.jpg", size: "900x450", :class => 'pc')%>
    <%= cl_image_tag("category/category_grocery.jpg", height: "300", :class => 'sp') %>
  </div>
	<div class="Instruction__description">
	城島で作られた原料、城島で育った人、城島という場所。城島町だからこそ生まれた製品がここにはあります。城島町というアイデンティティを持った商品をお楽しみください。
	</div>
</section>

<section>
<div class="CategoryProduct">
  <% unless @grocery_products.empty? %>
    <div class="CategoryProductPC">
      <ul class="ProductList">
      <% @grocery_products.all.each do |item| %>
      <%= link_to product_path(item.id) do %>
        <%= render 'partial/product_list_pc', item: item %>
      <% end %>
      <% end %>
      </ul>
    </div>

    <div class="CategoryProductSP">
      <ul class="ProductList">
        <% @grocery_products.all.each do |item| %>
        <%= link_to product_path(item.id) do %>
          <%= render 'partial/product_list_sp', item: item %>
        <% end %>
        <% end %>
      </ul>
    </div>
 <% else %>
   <p>検索結果に合う商品が見つかりませんでした。</p>
 <% end %>
</div>
</section>
<P class="back_root"><%= link_to "トップに戻る", root_path %></P>