<%= stylesheet_link_tag "desktop/web/categories", :media => "all" %>
<%= stylesheet_link_tag "desktop/web/product_list", :media => "all" %>

<section class="Instruction">
  <h1>城島町の日本酒</h1>
	<div class="Instruction__image">
  <%= cl_image_tag("category/category_sake.jpg", size: "900x450", :class => 'pc')%>
  <%= cl_image_tag("category/category_sake.jpg", height: "200", :class => 'sp')%>
  </div>
	<div class="Instruction__description">
	江戸時代中期に始まり、250年以上の歴史を持つ城島の酒。硬水仕込みの日本酒が主流な中、独自に軟水仕込みの日本酒を研究・開発しました。最盛期には85の酒造がひしめき、現在でも「日本酒のまち」としてその文化を継承しています。毎年2月に行われる「城島酒蔵びらき」は、10万人以上のお客様が訪れますが、もっと多くの人に飲んでほしい、楽しんでほしいという想いで通販サイトを作りました。
	</div>
</section>

<div class="ProductFilter">
  <%= form_tag(category_sake_path, method: "get") do %>
    <div class="ProductFilter__category">
      <%= label_tag :name, "日本酒の種類", :class => 'ProductFilter__name' %>
      <div class="select-wrap"><%= select_tag :type, options_for_select(Product.types, :selected => @product_type), include_blank: true %></div>
    </div>

    <div class="ProductFilter__category">
      <%= label_tag :name, "価格帯", :class => 'ProductFilter__name' %>
      <div class="select-wrap"><%= select_tag :price, options_for_select(Product.prices, :selected => @product_price), include_blank: true %></div>
    </div>

    <div class="ProductFilter__category">
      <%= label_tag :name, "ブランド名", :class => 'ProductFilter__name' %>
      <div class="select-wrap"><%= select_tag :brand, options_for_select(Product.brands, :selected => @product_brand), include_blank: true %></div>
    </div>
    <div class="filter_button">
      <%= submit_tag "絞り込む" %>
    </div>
  <% end %>
</div>

<section>
  <div class="CategoryProduct">
    <% unless @sake_products.empty? %>
      <div class="CategoryProductPC">
        <ul class="ProductList">
        <% @sake_products.all.each do |item| %>
        <%= link_to product_path(item.id) do %>
          <%= render 'partial/product_list_pc', item: item %>
        <% end %>
        <% end %>
        </ul>
      </div>

      <div class="CategoryProductSP">
        <ul class="ProductList">
          <% @sake_products.all.each do |item| %>
          <%= link_to product_path(item.id) do %>
            <%= render 'partial/product_list_sp', item: item %>
          <% end %>
          <% end %>
        </ul>
      </div>
   <% else %>
     <p>検索結果に合う商品が見つかりませんでした。</p>
   <% end %>
  </div>
</section>