<%= stylesheet_link_tag "desktop/web/categories", :media => "all" %>

<section class="Instruction">
  <h1>城島町の日本酒</h1>
	<div class="Instruction__image"><%= image_tag('//res.cloudinary.com/dmfclza05/image/upload/v1501265505/categpry/category_sake.jpg', size: "900x450")%></div>
	<div class="Instruction__description">
	江戸時代中期に始まり、250年以上の歴史を持つ城島の酒。硬水仕込みの日本酒が主流な中、独自に軟水仕込みの日本酒を研究・開発しました。最盛期には85の酒造がひしめき、現在でも「日本酒のまち」としてその文化を継承しています。毎年2月に行われる「城島酒蔵びらき」は、10万人以上のお客様が訪れますが、もっと多くの人に飲んでほしい、楽しんでほしいという想いで通販サイトを作りました。
	</div>
</section>

<div class="ProductFilter">
  <%= form_tag(category_sake_path, method: "get") do %>
    <%= label_tag :name, "お酒の種類" %>
    <%= select_tag :type, options_for_select(Product.types), include_blank: true %>
    <%= label_tag :name, "価格帯" %>
    <%= select_tag :price, options_for_select(Product.prices), include_blank: true %>
    <%= submit_tag "絞り込む" %>
  <% end %>
</div>

<section class="CategoryProduct">
	<ul class="CategoryProduct__main">
		<% @sake_products.all.each do |item| %>
       <li class="CategoryProduct__item">
          <div class="CategoryProduct__item--photo">
          <%= link_to image_tag(item.image.url, height: 280, width: 210, alt: "商品写真"), product_path(item.id) %></div>
          <div class="CategoryProduct__item--title"><%= link_to item.name, product_path(item.id) %></div>
          <div class="CategoryProduct__item--price"><%= number_to_currency(item.options.first.value) %></div>
       </li>
     <% end %>
   </ul>
	</div>
</section>