<%= stylesheet_link_tag "desktop/web/categories", :media => "all" %>

<div id="category_section">
	<div class="category_visual">
		<%= image_tag 'category_pic_1.jpg', :size => '900x300' %>
	</div>
	<div class="category_description">
		<h1>辛口日本酒</h1>
		<p>ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。ここにカテゴリーの紹介テキストをわちゃーといれます。</P>
	</div>
	<div class="category_item">
		<ul class="category_item_list">
		<% @items.all.each do |item| %>
		<li>
		<%= link_to image_tag(item.image.url,:height => "160", :width => "170"), product_path(item.id) %>
		<h1><%= link_to item.name, product_path(item.id) %></h1>
		<p><%= item.value %>円</p>
		</li>
		<% end %>
		</ul>
	</div>
</div>
