<%= stylesheet_link_tag "desktop/web/categories", :media => "all" %>

<section class="Instruction">
	<h1>城島町の雑貨</h1>
	<div class="Instruction__image">
    <%= image_tag('//res.cloudinary.com/dmfclza05/image/upload/v1501265508/categpry/category_grocery.jpg', size: "900x450", :class => 'pc')%>
    <%= image_tag('//res.cloudinary.com/dmfclza05/image/upload/v1501265508/categpry/category_grocery.jpg', height: "300", :class => 'sp') %>
  </div>
	<div class="Instruction__description">
	城島で作られた原料、城島で育った人、城島という場所。城島町だからこそ生まれた製品がここにはあります。城島町というアイデンティティを持った商品をお楽しみください。
	</div>
</section>

<section class="CategoryProduct">
	<ul class="CategoryProduct__main">
		<% @grocery_products.all.each do |item| %>
       <li class="CategoryProduct__item">
          <div class="CategoryProduct__item--photo">
          <%= link_to image_tag(item.image.url, height: 280, width: 210, alt: "商品写真"), product_path(item.id) %></div>
          <div class="CategoryProduct__item--title"><%= link_to item.name, product_path(item.id) %></div>
          <div class="CategoryProduct__item--price"><%= number_to_currency(item.options.first.value) %>(税込)</div>
       </li>
     <% end %>
   </ul>
	</div>
</section>