<%= stylesheet_link_tag "desktop/web/categories", :media => "all" %>

<div class="CategoryPage">
<section class="Instruction">
	<h1>城島町の雑貨</h1>
	<div class="Instruction__image">
    <%= cl_image_tag("category/category_craft.jpg", size: "900x450", :class => 'pc') %>
    <%= cl_image_tag("category/category_craft.jpg", height: "200", :class => 'sp') %>
  </div>
	<div class="Instruction__description">
	城島町の素敵な雑貨の販売に向けて只今準備中です！
	</div>
</section>

<section>
  <div class="CategoryProduct">
    <% unless @craft_products.empty? %>
      <div class="CategoryProductPC">
        <ul class="ProductList">
        <% @craft_products.all.each do |item| %>
        <%= link_to product_path(item.id) do %>
          <%= render 'partial/product_list_pc', item: item %>
        <% end %>
        <% end %>
        </ul>
      </div>

      <div class="CategoryProductSP">
        <ul class="ProductList">
          <% @craft_products.all.each do |item| %>
          <%= link_to product_path(item.id) do %>
            <%= render 'partial/product_list_sp', item: item %>
          <% end %>
          <% end %>
        </ul>
      </div>
   <% else %>
     <p>検索結果に合う商品が見つかりませんでした。</p>
   <% end %>
  </div>
</section>
<P class="back_root"><%= link_to "トップに戻る", root_path %></P>