<%= stylesheet_link_tag "desktop/web/categories", :media => "all" %>

<section class="Instruction">
	<h1>城島町の食</h1>
	<div class="Instruction__image">
    <%= cl_image_tag("category/category_food.jpg", size: "900x450", :class => 'pc')%>
    <%= cl_image_tag("category/category_food.jpg", height: "200px", :class => 'sp')%>
  </div>
	<div class="Instruction__description">
	雄大な筑後川の流れ、養分を蓄えた粘土質の土、代々受け継がれてきた城島人特有の職人気質。城島町の食文化は、自然と人が寄り添いあいながら育まれてきました。春夏秋冬、そのときにしか食べられない城島の「季節」をお楽しみください。
	</div>
</section>


<section>
  <div class="CategoryProduct">
    <% unless @food_products.empty? %>
      <div class="CategoryProductPC">
        <ul class="ProductList">
        <% @food_products.all.each do |item| %>
        <%= link_to product_path(item.id) do %>
          <%= render 'partial/product_list_pc', item: item %>
        <% end %>
        <% end %>
        </ul>
      </div>

      <div class="CategoryProductSP">
        <ul class="ProductList">
          <% @food_products.all.each do |item| %>
          <%= link_to product_path(item.id) do %>
            <%= render 'partial/product_list_sp', item: item %>
          <% end %>
          <% end %>
        </ul>
      </div>
   <% else %>
     <p>検索結果に合う商品が見つかりませんでした。</p>
   <% end %>
  </div>
</section>