<%= stylesheet_link_tag "desktop/web/inquiry", :media => "all" %>

<section class="InquiryIntro">
<h1>お問い合わせ</h1>
<p>明日の城島をご利用いただき、誠にありがとうございます。
ご質問、ご要望等のお問い合わせに関しては、当ページ最下部のメールフォームにて承っております。
お問い合わせいただく前に、以下によくあるご質問をまとめておりますので、初めにこちらをご参照ください。</p>
</section>

<section class ="Inquiry">
	<h2>ご注文・配送について</h2>
	<dl class="Inquiry__list">
		<dt>Q:電話での注文は可能ですか？</dt>
		<dd>A:お電話によるご注文は承っておりません。</dd>

		<dt>Q:注文後、確認のメールが届かないのですが？</dt>
		<dd>A:ご注文内容の確認メールが届かない場合は、メールアドレスに誤りがある、もしくはgmail.comからのメールが受信拒否になっている等が考えられます。再度メールアドレス、設定をご確認いただくようお願いいたします。誤りや不備がない場合は、お手数ですが以下のメールフォームにて、その旨ご連絡ください。なお、ご注文情報に関してはマイページにてご確認いただけます。</dd>

		<dt>Q:注文をキャンセルしたいのですが？</dt>
		<dd>A:キャンセル、その他、返品・交換は原則お受けしておりません。お客様ご都合でのキャンセルの場合は、送料と商品損害金をご請求させていただきますのでご注意下さい。なお、不良品やご注文した商品と違うものが届いた場合は、至急返品、交換の対応をさせていただきますので、お手数ですが下記メールフォームよりご連絡ください。</dd>

		<dt>Q:配送先を変更したいのですが？</dt>
		<dd>A:出荷前に限り変更可能ですので、できる限り早急に下記メールフォームよりご連絡ください。</dd>

		<dt>Q:配送日、配送時間の指定はできますか？</dt>
		<dd>A:申し訳ございませんが、対応しておりません。</dd>

		<dt>Q:商品はいつごろ発送されますか？</dt>
		<dd>A:ご注文確認後、7営業日以内の発送を原則としています。万が一、入荷待ちになったなった場合は、お時間をいただく場合もございますのでご了承ください。</dd>

		<dt>Q:送料はいくらですか？</dt>
		<dd>A:<%= link_to "こちら", shipping_fee_path %>に詳細を記載しておりますのでご参照ください。</dd>

		<dt>Q:2回に分けて注文した場合、送料は一つにまとめられますか？</dt>
		<dd>A:基本的に同一業者から複数商品ご注文いただいた場合は、送料はおまとめいただけますが、複数回に分けてご注文いただいた場合は、別途送料がかかります。</dd>
	</dl>

	<h3>お支払いについて</h3>
		<p>2017年7月現在、お支払方法はクレジットカードのみとなっております。
	銀行振り込み、代金引換等、その他のお支払い方法につきましては、ただいま調整中です。
	ご迷惑おかけしますが、しばらくお時間頂戴いたします。<br>
	<br>
	【ご利用いただけるクレジットカード】<br>
	VISA、MasterCard 	※海外発行のクレジットカードはご利用いただけない場合がございます。<br>
	<br>
	・ご利用の際はカード番号、有効期限、お支払い方法をご指定ください。<br>
	・お支払は、一括払いのみのお取扱いとなっております。<br>
	・クレジットカードの決済処理は、予約成立時点で行われます。<br>
	・デビット機能付きのクレジットカードはご利用いただけませんので、ご注意ください。<br>
	・実際の決済処理（引き落とし）は、お客様とご利用カード会社の契約に基づき行われます。</p>
</section>

<h4>お問い合わせフォーム</h4>

<section class="InquiryForm">

<%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>


	<% if @inquiry.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<strong>入力内容にエラーがあります</strong>
			<ul>
				<% @inquiry.errors.each do |attr, msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<table class="InquiryForm__item">
		<tr>
			<th>お名前<span class="text-danger">(必須)</span></th>
			<td><%= f.text_field :name %></td>
		</tr>

		<tr>
			<th>メールアドレス<span class="text-danger">(必須)</th>
			<td><%= f.text_field :email %></td>
		</tr>

		<tr>
			<th>お問い合わせ内容</th>
			<td><%= f.text_area :message, :size => "28x5" %></td>
		</tr>
	</table>
	<div class="submit_btn">
		<%= f.submit "確認", class: 'middle_btn_dummy' %>
	</div>

<% end %>


</section>
