<table class="attr">
	<tr>
		<th><%= form.label :name, "商品名" %></th>
		<td><%= form.text_field :name %></td>
	</tr>

	<tr>
		<th><%= form.label :value, "価格" %></th>
		<td><%= form.number_field :value %></td>
	</tr>

	<tr>
		<th><%= form.label :description, "商品説明" %></th>
		<td><%= form.text_field :description %></td>
	</tr>

</table>