<%= stylesheet_link_tag "desktop/web/products", :media => "all" %>

<section class="Cart">

  <% unless @cart.items.empty? %>
    <p>カートの中身</p>
    <ul class="Cart__list">
      <li class="Cart__list--name">商品名</li>
      <li class="Cart__list--details">商品説明</li>
      <li class="Cart__list--price">価格</li>
      <li class="Cart__list--quantity">数量</li>
      <li class="Cart__list--unitprice">小計</li>
    </ul>

    <% for item in @cart.items %>

    <ul class="Cart__item">
      <li class="Cart__item--image">
      <%= image_tag(item.image.url, height: 120, width: 100, alt: "酒の写真") %></li>
      <li class="Cart__item--name"><%= link_to "#{item.name}", item.product %></li>
      <li class="Cart__item--description"><%= item.description.truncate(100, separator: '。', :omission => "。....") %></li>
      <li class="Cart__item--price"><%= number_to_currency(item.price) %></li>
      <li class="Cart__item--quantity">
        <div class="Cart__item--number">
          <%= item.quantity %>
        </div>
        <div class="Cart__item--updown ">
          <%= button_to :action => 'add_to_cart', :id => item.id, :method => :post ,:class => 'increment_button' do %>
          <i class="fa fa-chevron-up"></i>
          <% end %>
          <%= button_to :action => "decrement_from_cart", :id => item.id, :method => :post, :class => 'decrement_button' do %>
          <i class="fa fa-chevron-down"></i>
          <% end %>
        </div>
      </li>
      <li class="Cart__item--subtotal_price"><%= number_to_currency(item.subtotal_price) %></li>
      <%= button_to "x", :action => "delete_from_cart", :id => item.id, :method => :post %>
    </ul>

    <% end %>

  <% else %>
  カートは空です。
  <% end %>
</section>

<section class="CartAction">
  <div class="CartAction__emptycart"><%= button_to "カートを空にする", :action => "empty_cart" %></div>
  <div class="CartAction__continue"><%= link_to "買い物を続ける", root_path %></div>
</section>

<section class="CheckOut">
  <div class="CheckOut__shipping">
  <%= form_tag ({controller: :shippings, action: :shipping_fee, :method => :post}) do %>
    <p>送料を計算</p>
    <span style="font-size: 14px">都道府県を選択</span>
    <div class="CheckOut__shipping--select">
      <%= collection_select :prefecture, :prefecture_id, Prefecture.all, :id, :name, :selected => @prefecture_id %>
    </div>
    <% for item in @cart.items %>
      <%= hidden_field_tag ":shop_id[]", item.product.shop_id %>
    <% end %>
    <div><%= submit_tag "送料を計算" %></div>
  <% end %>

  </div>
  <div class="CheckOut__calculation">
    <p>合計</p>
    <table>
      <tr>
        <td>小計</td>
        <td><%= number_to_currency(@cart.total_price) %></td>
      </tr>
      <tr>
        <td>送料</td>
        <td>
          <%= number_to_currency(@total_shipping_fee) %>
        </td>
      </tr>
      <tr>
        <td>合計</td>
        <td>
        <% if @total_shipping_fee.present? %>
        <% total_price = @cart.total_price + @total_shipping_fee %>
        <%= number_to_currency(total_price) %>
        <% end %>
        </td>
      </tr>
    </table>
    <% unless total_price == nil %>
      <div class="CheckOut__calculation--btn">
      <%= link_to "レジへ進む", user_addresses_path(:total_price => total_price, :total_shipping_fee => @total_shipping_fee) %></div>
    <% else %>
      <div class="CheckOut__calculation--nobtn">レジへ進む</div>
      </div>
    <% end %>
  </div>
</section>


