<%= stylesheet_link_tag "products", :media => "all" %>

<div id="product_details">
	<div class="product_img">
		<%= image_tag @product.image, :height =>"400", :width =>"550"%>
	</div>
	<div class="product_info">
		<ul class="theme_tag">
			<li><%= link_to @product.theme_tag.tag_name, @product.theme_tag %></li>
			<li><%= link_to @product.type.type_name, @product.type %></li>
			<li><%= link_to @product.price.price_range, @product.price %></li>
		</ul>
		<h1><%= @product.name %></h1>
		<p class="description"><%= @product.description %></p>
		<p class="price"><%= @product.value %>円 (税込)</p>
		<p class="btn"><%= link_to "購入手続きへ", user_addresses_path(:product_id => @product.id) %></p>
	</div>
</div>

<div id="product_story">
	<h1>商品ストーリー</h1>
	<div class="first_story">
		<span class="story_image"><%= image_tag @images.first.image_url, :width => '750', :height => '400' %></span>
		<p class="story_title"><%= @product.story_title_one %></p>
		<p><%= @product.overview_one %></p>
	</div>
	<div clas="second_story">
		<span class="story_image"><%= image_tag @images.second.image_url, :width => '750', :height => '400' %></span>
		<p class="story_title"><%= @product.story_title_two %></p>
		<p><%= @product.overview_two %></p>
	</div>
</div>

<p class="btn"><%= link_to "購入手続きへ", user_addresses_path(:product_id => @product.id) %></p>

