<%= stylesheet_link_tag "desktop/web/products", :media => "all" %>

<section>
	<% breadcrumb :product %>
	<div class="ItemDetails">
		<div class="ItemDetails__sub">
			<%= image_tag @product.image.url, height: 480, width: 360, alt: "商品の写真" %>
			<ul class="ItemDetails__sub--smallphoto">
				<li><%= image_tag @product.image.url, height: 120, width: 100, alt: "準備中" %></li>
				<li><%= image_tag @product.image.url, height: 120, width: 100, alt: "準備中" %></li>
				<li><%= image_tag @product.image.url, height: 120, width: 100, alt: "準備中" %></li>
			</ul>
		</div>
		<div class="ItemDetails__main">
			<h1><%= @product.name %></h1>
			<p><%= simple_format(@product.description) %></p>

			<% unless @product.info.nil? %>
				<%= simple_format(@product.info, :class => "ItemDetails__main--info") %></p>
			<% end %>

			<ul class="ItemDetails__review">
				<li>☆☆☆☆☆</li>
				<li>レビューはまだありません</li>
				<li></li>
			</ul>
			<%= form_tag('/add_to_cart', :method => :post) do %>
			<p class="ItemDetails__main--price">
				<%= render partial: 'option_value', locals: {option_id: @options.first.id} %>
			</p>
			<p>サイズ</p>
			<div class="ItemDetails__main--option">
				<%= select :option, :option_id, @options.map{|t| [t.title, t.id]} %>
			</div>
			<div class="ItemDetails__main--quantity">
				<p>個数</p>		
				<%= select_tag 'quantity', options_for_select([1, 2, 3, 4, 5]) %>
			</div>
				<%= hidden_field_tag :id, @product.id %>
				<%= hidden_field_tag :shop_id, @product.shop_id %>			
			<div class="middle_btn"><%= submit_tag "カートに入れる" %></div>				
			<% end %>
		</div>
	</div>
</section>

<section>
	<div class="RecommendedItems">
		<h2>こちらもおすすめ</h2>
		<ul class="RecommendedItems__main">
	    <li class="RecommendedItems__item">
	  	  <div class="RecommendedItems__item--photo">
	  	  <%= link_to image_tag(Product.find(31).image.url, height: 240, width: 210, alt: "商品写真") %></div>
	  	  <div class="RecommendedItems__item--title"><%= link_to Product.find(31).name, product_path(31) %></div>
	  	  <div class="RecommendedItems__item--price"><%= number_to_currency(Product.find(31).value) %></div>
	    </li>

	    <li class="RecommendedItems__item">
	  	  <div class="RecommendedItems__item--photo">
	  	  <%= link_to image_tag(Product.find(32).image.url, height: 240, width: 210, alt: "商品写真") %></div>
	  	  <div class="RecommendedItems__item--title"><%= link_to Product.find(32).name, product_path(32) %></div>
	  	  <div class="RecommendedItems__item--price"><%= number_to_currency(Product.find(32).value) %></div>
	    </li>

	    <li class="RecommendedItems__item">
	  	  <div class="RecommendedItems__item--photo">
	  	  <%= link_to image_tag(Product.find(33).image.url, height: 240, width: 210, alt: "商品写真") %></div>
	  	  <div class="RecommendedItems__item--title"><%= link_to Product.find(33).name, product_path(33) %></div>
	  	  <div class="RecommendedItems__item--price"><%= number_to_currency(Product.find(33).value) %></div>
	    </li>

	    <li class="RecommendedItems__item">
	  	  <div class="RecommendedItems__item--photo">
	  	  <%= link_to image_tag(Product.find(34).image.url, height: 240, width: 210, alt: "商品写真") %></div>
	  	  <div class="RecommendedItems__item--title"><%= link_to Product.find(34).name, product_path(34) %></div>
	  	  <div class="RecommendedItems__item--price"><%= number_to_currency(Product.find(34).value) %></div>
	    </li>
    </ul>
	</div>
</section>





