<%= stylesheet_link_tag "desktop/web/products", :media => "all" %>

<section>
	<% breadcrumb :product %>
	<div class="ItemDetails">
		<div class="ItemDetails__sub">
			<div class="ItemDetails__sub--mainphoto">
				<%= image_tag @product.image.url, height: 480, width: 360, :class => 'pc', alt: "商品の写真" %>
				<%= image_tag @product.image.url, :class => 'sp', alt: "商品の写真" %>
			</div>
			<ul class="ItemDetails__sub--smallphoto">
				<% if @images.exists? %>
					<% @images.each do |sub_image| %>
						<li><%= link_to image_tag(sub_image.image.url, height: 120, width: 100), sub_image.image.url, :'data-lightbox' => sub_image.id %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
		<div class="ItemDetails__main">
			<h1><%= @product.name %></h1>
			<p><%= simple_format(@product.description) %></p>

			<% unless @product.info.nil? %>
				<%= simple_format(@product.info, :class => "ItemDetails__main--info") %></p>
			<% end %>

			<ul class="ItemDetails__review">
				<li>☆☆☆☆☆</li>
				<li>レビューはまだありません</li>
				<li></li>
			</ul>
			<%= form_tag('/add_to_cart', :method => :post) do %>
			<p class="ItemDetails__main--price">
				<%= render partial: 'option_value', locals: {option_id: @options.first.id} %></p>
			<p>サイズ</p>
			<div class="ItemDetails__main--option">
				<%= select :option, :option_id, @options.map{|t| [t.title, t.id]} %>
			</div>
			<div class="ItemDetails__main--quantity">
				<p>個数</p>
				<%= select_tag 'quantity', options_for_select([1, 2, 3, 4, 5]) %>
			</div>
				<%= hidden_field_tag :id, @product.id %>
				<%= hidden_field_tag :shop_id, @product.shop_id %>
			<div class="middle_btn"><%= submit_tag "カートに入れる" %></div>
			<% end %>
		</div>
	</div>
</section>

<section>
	<div class="RecommendedItems">
		<h2>こちらもおすすめ</h2>

		 <div class="NewArrivalPC">
        <ul class="ProductList">
        <% @recommended_products.each do |item| %>
        <%= link_to product_path(item.id) do %>
          <%= render 'partial/product_list_pc', item: item %>
        <% end %>
        <% end %>
        </ul>
      </div>

      <div class="NewArrivalSP">
        <ul class="ProductList">
          <% @recommended_products.each do |item| %>
          <%= link_to product_path(item.id) do %>
            <%= render 'partial/product_list_sp', item: item %>
          <% end %>
          <% end %>
        </ul>
      </div>
   </div>
</section>





