<!DOCTYPE html>
<html lang="ja-jp">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
		<title>あしたの城島</title>
		<%= stylesheet_link_tag 'application', media: 'all' %>
   	<%= stylesheet_link_tag 'responsive-nav' %>
		<%= csrf_meta_tags %>
  </meta>
  <%= favicon_link_tag('jojima-favicon.ico') %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'responsive-nav' %>
</head>
<body>

  <header>
  	<%= render 'partial/header' %>
  </header>

  <%= breadcrumbs separator: " &rsaquo; " %>

	<% unless flash.empty? %>
		<script type="text/javascript">
			<% flash.each do |f| %>
				<% type = f[0].to_s.gsub('alert','error').gsub('notice','info') %>
				toastr['<%= type %>']('<%= f[1] %>');
			<% end %>
		</script>
	<% end %>

  <%= yield %>

	<footer>
		<%= render 'partial/footer' %>
	</footer>
  <script>var nav = responsiveNav(".nav-collapse");</script>
</body>
</html>

